<div class="drag-list">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let rental of rentals" cdkDrag>
      <mat-accordion style="width: 100%; height: 100%">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ rental.rental_date }} </mat-panel-title>
            <app-button-actions
              select-clickOutside
              [id]="rental.rental_id"
              section="rentals"
              [name]="rental.rental_date.toString()"
            ></app-button-actions>
          </mat-expansion-panel-header>
          <mat-panel-description>
            {{ rental | json }}
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
