<h1 mat-dialog-title>Nuevo Usuario</h1>
<div mat-dialog-content [formGroup]="nuevoUsuario">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" formControlName="name" />
    <mat-error *ngIf="isInvalid('name')">Error en el nombre.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>
  <mat-error *ngIf="isInvalid('email')">Error en el email.</mat-error>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>
  <mat-error *ngIf="isInvalid('password')">Error en el password.</mat-error>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
  <button mat-raised-button (click)="onNoClick()" color="warn">Cancel</button>
  <button
    mat-raised-button
    [mat-dialog-close]="data"
    cdkFocusInitial
    [disabled]="nuevoUsuario.invalid"
    color="primary"
  >
    Ok
  </button>
</div>
