<div class="drag-list">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let inventory of inventories" cdkDrag>
        <mat-accordion style="width: 100%; height: 100%">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>{{inventory.film_id }} </mat-panel-title>
              <app-button-actions
                [id]="inventory.inventory_id"
                section="inventory"
              ></app-button-actions>
            </mat-expansion-panel-header>
            <mat-panel-description>
              {{inventory | json }}
            </mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>