<div fxLayout="column" fxFill [fxShow]="header" @fadeIN>
  <mat-toolbar fxFill >
    <div fxLayout="row" fxFlexFill fxLayoutAlign="space-evenly center">
      <div fxFlex="15" fxFlex.xs="10" class="ht-size" fxLayoutAlign="space-around center">
        <button
          mat-icon-button
          (click)="buttonClick()"
          matTooltip="Display Side Menu"
        >
          <!-- <img src="../assets/pngkey.com-htore-png-2398314.png"> -->
          <mat-icon
            class="ht-size"
            fxFlex.xs="100"
            fxFlex.sm="100"
            fxFlex.md="100"
            >menu</mat-icon
          >
        </button>
        <mat-label
          fxShow="false"
          fxShow.gt-md="true"
          fxShow.lg="true"
          fxFlex="50"
        >
          Film Store
        </mat-label>
      </div>
      <div
        class="ht-size"
        fxFlex="65"
        select-clickOutside
        (CloseSideMenu)="buttonClick($event)"
      >
        <router-outlet name="header-top"></router-outlet>
      </div>
      <div
        fxFlex="15"
        fxFill
        select-clickOutside
        (CloseSideMenu)="buttonClick($event)"
        fxLayout="row"
        fxLayoutAlign="space-evenly center"
      >
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          fxHide.xs="true"
          fxHide.sm="true"
        >
          <mat-icon class="ht-size">favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon"
          fxHide.xs="true"
        >
          <mat-icon class="ht-size">share</mat-icon>
        </button>
        <button [mat-menu-trigger-for]="userMenu" class="user-menu-button" matTooltip="User options" fxLayoutAlign="start center">
          <img  [src]="userPict" class="user-pict" />
        </button>
        <mat-menu #userMenu="matMenu" style="height:60vh">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>Settings</button>
          <button mat-menu-item (click)="logOut()">Log out</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
</div>
