<div fxLayout="row" class="form-wrapper" fxLayoutAlign="space-evenly center">
  <mat-card
    fxFlex="60"
    fxFlex.xs="90"
    fxFlex.sm="90"
    fxLayout="column"
    fxLayoutGap="1.5vw"
  >
    <mat-card-header
      fxFlex="30"
      fxFlex.xs="50"
      fxFlex.sm="50"
      fxFill
      fxLayoutAlign="center center"
    >
      <mat-card-title
        ><mat-label class="title">
          {{
            isEdit
              ? "Edit employee " +
                employee.first_name +
                " " +
                employee.last_name
              : "New Employee"
          }}
        </mat-label>
      </mat-card-title>
      <mat-icon
        fxLayoutAlign="stretch"
        [ngClass]="{ 't-secondary': isEdit, 't-primary': !isEdit }"
        class="lg-size-icon"
        >{{ isEdit ? "edit" : "add_circle" }}</mat-icon
      >
    </mat-card-header>
    <div fxFlex="10" fxFill></div>
    <mat-card-content
      fxFlex="50"
      fxFill
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <form
        [formGroup]="employeeForm"
        id="ngEmployeeForm"
        (ngSubmit)="submit()"
        automplete="off"
        fxFlex="40"
        fxFlex.xs="80"
        fxFlex.sm="80"
        fxLayout="column"
      >
        <div fxFlex="100" fxLayout="row" fxLayoutGap="1vw">
          <mat-form-field
            class="form-field"
            appearance="outline"
            fxFlex="70"
            fxFill
          >
            <mat-label>Username</mat-label
            ><input
              matInput
              type="text"
              formControlName="username"
              placeholder="Username"
            />
            <mat-error *ngIf="invalid('username')"
              >Please, fill with a valid username</mat-error
            >
          </mat-form-field>

          <div fxFlex="25" fxLayoutAlign="start center" class="prof-pict-selector">
            <label
              for="imageUpload"
              fxFill
              matTooltip="Change profile picture"
              [ngClass.lg]="{
                'float ct-lg mt-size': pictURL,
                'non-float ct-lg mt-size': !pictURL
              }"
              [ngClass.md]="{
                'float ct-md st-size': pictURL,
                'non-float ct-md st-size': !pictURL
              }"
              [ngClass.sm]="{
                'float ct-md st-size': pictURL,
                'non-float ct-md st-size': !pictURL
              }"
              [ngClass.xs]="{
                'float ct-sm st-size': pictURL,
                'non-float ct-sm st-size': !pictURL
              }"
              >{{ pictURL ? "" : "Add  picture" }}</label
            >
            <img
              *ngIf="pictURL"
              [src]="pictURL"
              class="lg-image"
              ngClass.xs="md-image"
              ngclass.sm="md-image"
              style="position: absolute"
            />
            <input
              type="file"
              id="imageUpload"
              accept="image/*"
              (change)="setPicture($event)"
              class="ghost"
            />
            <button  *ngIf="pictURL" mat-button color="warn" (click)="deletePicture()" matTooltip="Delete picture" ><mat-icon >delete</mat-icon></button>
          </div>
        </div>
        <!-- <mat-form-field
          class="form-field mt-size"
          *ngIf="!isEdit"
          appearance="outline"
        >
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="invalid('password')"
            >Must contain cap letter and number</mat-error
          >
        </mat-form-field> -->
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>First name</mat-label>
          <input
            matInput
            type="text"
            formControlName="first_name"
            placeholder="Last name"
          />
          <mat-error *ngIf="invalid('first_name')"
            >This field is necesary</mat-error
          >
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Last name</mat-label>
          <input
            matInput
            type="text"
            formControlName="last_name"
            placeholder="Last name"
          />
          <mat-error *ngIf="invalid('last_name')"
            >This field is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            formControlName="email"
            placeholder="Email"
          />
          <mat-error *ngIf="invalid('email')">The email is required</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Store</mat-label>
          <mat-select matInput formControlName="store_id">
            <mat-option *ngFor="let store of stores" [value]="store.store_id">
              {{ store.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="invalid('store_id')"
            >Please, select a store for the employee</mat-error
          >
        </mat-form-field>
        <app-address-form
          [editingAddress]="address"
          (valid)="validAddress = $event"
          (submiting)="address = $event"
        ></app-address-form>
      </form>
    </mat-card-content>
    <mat-card-actions fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
      <button
        fxFlex="30"
        mat-raised-button
        color="warn"
        [routerLink]="['/staff']"
      >
        Cancel
      </button>
      <button
        fxFlex="30"
        mat-raised-button
        color="primary"
        type="submit"
        form="ngEmployeeForm"
      >
        {{ isEdit ? "Confirm" : "Charge" }}
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-icon
    class="form-icon"
    fxShow.xs="false"
    fxShow.sm="false"
    >person_add</mat-icon
  >
</div>
