mat-selection-list button {
  border-radius: 0.5em;
  color: var(--main-color5);
  background-color: var(--main-color3);
  border-color: var(--main-color5);
  font-size: calc(10px + 1vh)
}
mat-selection-list button:hover {
  border-color: var(--main-color2);
  color: var(--main-color3);
  background-color: var(--main-color5);
}
mat-selection-list {
  color: var(--main-color4);
  background-color: var(--main-color4);
  border-color: var(--main-color2);
}

mat-divider {
  background-color: var(--main-color);
  border-color: var(--main-color4);
}
mat-icon{
  color: var(--main-color4);
  font-size: calc(10px + 1vh)
}