<div fxlayout="row" style="height: 100%; width: 100%;">
  <mat-selection-list fxFill>
    >
    <div fxLayout="column" fxLayoutGap="0.2vh" fxFlex="90">
      <button
        mat-list-item
        [routerLink]="['/']"
        [routerLinkActive]="activated"
        [routerLinkActiveOptions]="{ exact: true }"
        fxFlex="14"
        fxFlexAlign="stretch"
        matTooltip="Return to home"
      >
        <mat-icon style="transform:scale(1.5)">home</mat-icon>
        Home
      </button>

      <button
        mat-list-item
        [routerLink]="['/customers']"
        [routerLinkActive]="['active-link']"
        [routerLinkActiveOptions]="{ exact: true }"
        [queryParams]="{ page: 1 }"
        matTooltip="Customers Section"
        fxFlex="14"
        fxFlexAlign="stretch"
      >
        <mat-icon>person_pin</mat-icon> Customers
      </button>

      <button
        mat-list-item
        [routerLink]="['/staff']"
        [routerLinkActive]="['active-link']"
        [routerLinkActiveOptions]="{ exact: true }"
        [queryParams]="{ page: 1 }"
        matTooltip="Staff Section"
        fxFlex="14"
        fxFlexAlign="stretch"
      >
        <mat-icon>group_work</mat-icon> Staff
      </button>

      <button
        mat-list-item
        [routerLink]="['/rentals']"
        [routerLinkActive]="['active-link']"
        [routerLinkActiveOptions]="{ exact: true }"
        [queryParams]="{ page: 1 }"
        matTooltip="Rentals Section"
        fxFlex="14"
        fxFlexAlign="stretch"
      >
        <mat-icon>bar_chart</mat-icon> Rentals
      </button>

      <button
        mat-list-item
        [routerLink]="['/film']"
        [routerLinkActive]="['active-link']"
        [routerLinkActiveOptions]="{ exact: true }"
        [queryParams]="{ page: 1 }"
        matTooltip="Films Section"
        fxFlex="14"
        fxFlexAlign="stretch"
      >
        <mat-icon>movie_creation</mat-icon> Films
      </button>

      <button
        mat-list-item
        [routerLink]="['/inventory']"
        [routerLinkActive]="['active-link']"
        [routerLinkActiveOptions]="{ exact: true }"
        [queryParams]="{ page: 1 }"
        matTooltip="Inventory Section"
        fxFlex="14"
        fxFlexAlign="stretch"
      >
        <mat-icon>storage</mat-icon> Inventory
      </button>

      <button
        mat-list-item
        [routerLink]="['/store']"
        [routerLinkActive]="['active-link']"
        [routerLinkActiveOptions]="{ exact: true }"
        [queryParams]="{ page: 1 }"
        matTooltip="Stores Section"
        fxFlex="14"
        fxFlexAlign="stretch"
      >
        <mat-icon>store_mall_directory</mat-icon> Stores
      </button>
    </div>
  </mat-selection-list>
</div>
