<form fxLayout="column"[formGroup]="addressForm" >
  <div fxLayout="row" fxLayoutGap="1.5vw" >
    <mat-form-field fxFlex="50" class="form-field" appearance="fill"
      ><mat-label>Address</mat-label
      ><input matInput placeholder="Address" formControlName="address" /><mat-error *ngIf="invalid('address')">Please fill the  addres field</mat-error
    ></mat-form-field>
    <mat-form-field fxFlex="50" class="form-field" appearance="fill"
      ><mat-label>Secondary address</mat-label
      ><input matInput placeholder="Secondary adress"  formControlName="address2" />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="1.5vw">
    <mat-form-field class="form-field" fxFlex="50" appearance="fill" >
      <mat-label>District</mat-label
      ><input matInput placeholder="District"   formControlName="district"/><mat-error *ngIf="invalid('district')">Please fill the  district field</mat-error
    ></mat-form-field>
    <mat-form-field class="form-field" fxFlex="50" appearance="fill"
      ><mat-label>City</mat-label
      ><input matInput placeholder="City"  formControlName="city"/><mat-error>Please fill the  city field</mat-error
    ></mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="0.5vw">
    <mat-form-field class="form-field" fxFlex="30" fxFlex.xs="40" appearance="fill"
      ><mat-label>State</mat-label
      ><input matInput placeholder="State" formControlName="state" /><mat-error>Please fill the  state field</mat-error
    ></mat-form-field>
    <mat-form-field class="form-field" fxFlex="30" fxFill appearance="fill"
      ><mat-label>Postal code</mat-label
      ><input matInput placeholder="Postal code" formControlName="postal_code" />
    </mat-form-field>
    <mat-form-field class="form-field" fxFlex="40" appearance="fill"
      ><mat-label>Phone</mat-label
      ><input matInput placeholder="Phone" formControlName="phone"/><mat-error >Please fill the  phone field</mat-error
    ></mat-form-field>
  </div>
</form>
